/** SMS LINK MODAL */

.rs-sms-modal-overlay,
.rs-sms-modal-overlay * {
    box-sizing: border-box
}

.rs-sms-modal-overlay a {
    text-decoration: none
}

.rs-sms-modal-overlay {
    font-family: "Playfair Display Regular", sans-serif;
    font-size: 16px;
    overflow: hidden;
    position: fixed;
    width: 100%;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .8);
    display: none
}

.rs-sms-modal-show {
    display: block
}

.rs-sms-modal-box {
    overflow: hidden;
    background-color: #fff;
    padding: 15px;
    min-width: 305px;
    max-width: 480px;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-box-shadow: 0 2px 21px -2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0 2px 21px -2px rgba(0, 0, 0, 0.75);
    box-shadow: 0 2px 21px -2px rgba(0, 0, 0, 0.75)
}

.rs-sms-modal-sms-button,
.rs-sms-modal-form-button,
.rs-sms-modal-close-button {
    display: block;
    padding: 15px;
    color: #fff;
    background-color: #e5027f;
    margin-top: 10px
}

.rs-sms-modal-sms-button:hover,
.rs-sms-modal-form-button:hover,
.rs-sms-modal-close-button:hover {
    background-color: #111
}

.rs-sms-modal-sms-button {
    margin-top: 0
}

.rs-sms-modal-price {
    display: block;
    padding: 5px 0;
    font-size: .8em;
    border-bottom: 1px dotted darkgray
}

.rs-sms-modal-close-button {
    cursor: pointer
}